---
---

@import "{{ site.theme }}";
@import url(//fonts.googleapis.com/css2?family=Shadows+Into+Light);
@import url(//fonts.googleapis.com/css2?family=Roboto:wght@300);
@import url(//fonts.googleapis.com/css2?family=Space+Mono);
@import url(//fonts.googleapis.com/css2?family=IBM+Plex+Mono);
body {
    font-family: 'Roboto', sans-serif;
}
h1 {
    font-family: 'Shadows Into Light', cursive; font-size: 2.5em;
}
h2 {
    font-family: 'Shadows Into Light', cursive; font-size: 2.2em; 
}
h3 {
    font-family: 'Shadows Into Light', cursive; font-size: 1.8em; 
}
h4 {
    font-family: 'Shadows Into Light', cursive; font-size: 1.5em; 
    margin: 0 0 0px;
}
.footnotes ol, .footnotes p{
  font-size: .8em;
  margin: 0 0 0px;
}
code {
    background-color: #f8f8f8;
    font-family: 'IBM Plex Mono', monospace;
}
